name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build-and-deploy:

    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
    - name: Build Docker Image 
      run: docker build -t static-website:1.0 .
    - name: Push Docker Image to DockerHub 
      run: |
        echo '${{ secrets.GITHUB_TOKEN.DOCKER_PASSWORD }}' | docker login --username milibh53 --password-stdin 
        docker tag static-website:1.0 milibh53/static-website:1.0 
        docker push your-dockerhub-user/static-website:1.0
