name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build-and-deploy:

    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build -t static-website:1.0 .
    - name: Push Docker image to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{env.DOCKER_USERNAME}} --password-stdin docker tag static-website:1.0 ${{env.DOCKER_USERNAME}}/static-website:1.0
        docker push your-dockerhub-user/static-website:1.0
